MISTRAL_API_KEY=replace_with_your_key
MISTRAL_MODEL=pixtral-large-latest
PDF_RENDER_DPI=220
MISTRAL_MAX_TOKENS=30000
MISTRAL_MAX_RETRIES=4
RETRY_BASE_DELAY_SECONDS=1.5
RETRY_JITTER_SECONDS=0.4
PAGE_SEGMENT_FALLBACK_PARTS=2
PAGE_SEGMENT_OVERLAP_PX=80
MAX_IMAGE_EDGE=2600
JPEG_QUALITY=88
REQUEST_PAUSE_SECONDS=0.0
